@model pe1.Webshop.Web.ViewModels.HomeShowMotorsVM
@{
    ViewData["Title"] = "Motors Webshop";
}

<h1 class="header">Webshop Motors</h1>

<div class="container">
    <div class="row">  
    @foreach (var motor in Model.Motors)
    {
        <div class="col-md-6">
            <div class="text-center">
                <img src="@motor.Image.First()" alt="@motor.Name" height="325" max-width="99%" /><br />
                <h2>@motor.Brand.Name @motor.Name</h2>
                <h3>@motor.Category.Name</h3>
                
                <div class="btn-group">
                    <a class="btn btn-info btn-lg" href="/motors/@motor.Id">More details</a>
                </div>
                <br /> <br />
            </div>
        </div>
    }
    </div>  
</div>


