@model pe1.Webshop.Web.ViewModels.HomeShowMotorDetailsVM
@{
    ViewData["Title"] = "ShowMotorDetails";
}

<h2>Specifications @Model.Motor.Brand.Name @Model.Motor.Name</h2>

<table class="table-striped">
    <tr>
        <td colspan="2">
            <img src="@Model.Motor.Image.First()" alt="@Model.Motor.Brand.Name @Model.Motor.Name" height="500" />
        </td>
        <td>
            <div class="btn-group" data-toggle="buttons">
                @foreach(var color in Model.Motor.Colors)
                {
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option1" checked> @color
                </label><br />
                }
            </div>
        </td>
    </tr>
    <tr>
        <td>Model: </td>
        <td>@Model.Motor.Name</td>
    </tr>
    <tr>
        <td>Brand: </td>
        <td>@Model.Motor.Brand.Name</td>
    </tr>
    <tr>
        <td>Category: </td>
        <td>@Model.Motor.Category.Name</td>
    </tr>
    <tr>
        <td>Production Year: </td>
        <td>@Model.Motor.Year</td>
    </tr>
    <tr>
        <td>Engine displacement: </td>
        <td>@Model.Motor.Cilinder cc</td>
    </tr>
    <tr>
        <td>Power: </td>
        <td>@Model.Motor.Power</td>
    </tr>
    <tr>
        <td>Fuel Tank Capacity (Litres) and type: </td>
        <td>@Model.Motor.Fueltank (@Model.Motor.Fueltype)</td>
    </tr>
</table>
