@model pe1.Webshop.Web.ViewModels.CategoryShowCategoriesVM
@{
    ViewData["Title"] = "Categories";
}

<h1 class="header">Categories</h1>

@foreach(var category in Model.Categories)
{
    <ul class="list-group">
        <li class="list-group-item" style="border: none">
            <p class="text-capitalize" style="font-size:36px; font-weight:900">@category.Name</p>
            <center><img src="@category.Image" alt="@category.Name" /></center>
            <br />
            <p style="font-size: 18px">@category.Description</p>
            <p style="font-size: 18px">Look at all the "@category.Name" bikes we have on offer <a href="categories/@category.Id/motors">here</a></p>
        </li>
    </ul>
}